body{
    margin: 0;
    padding: 0;
    background-color:#e4fbff;
    font-family: 'Arial';
}

.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #7868e6;
        border-radius: 15px ;
}

h1{
    text-align: center;
    color: #7868e6;
    padding: 20px;
}

label{
    color: white;
    font-size: 17px;
}

#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#Pw{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #473a47;
  font-size: 25px;
  background: #e4fbff;
  padding: 10px 20px 10px 20px;
  border: solid #7868e6 2px;
  text-decoration: none;
}

button:hover{
  background: #b8b5ff;
  text-decoration: none;
}
